/* Sass基础样式 */
.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.index-body {
  padding: 30px;
  li {
    font-size: 15px;
  }
}
.logo-body {
  padding: 200px;
  background: #111;
  span {
    display: block;
    float: left;
  }
  .logo-l {
    width: 60px;
    height: 60px;
    background: url(../images/geekpark_logo_left.png) 0 0 no-repeat;
    background-image: url(../images/geekpark_logo_left.svg);
    background-size: 100% 100%;
    position: relative;
    top: 11px;
    margin-right: 15px;
  }
  .logo-r {
    height: 82px;
    width: 228px;
    background: url(../images/geekpark_logo_right.png) 0 0 no-repeat;
    background-image: url(../images/geekpark_logo_right.svg);
    background-size: 100% 100%;
  }
  .logo:hover {
    .logo-l {
      animation: geekparklogo 0.8s ease-in-out infinite;
      -webkit-animation: geekparklogo 1s ease-in-out infinite;
      -moz-animation: geekparklogo 1s ease-in-out infinite;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
    }
  }
}
@keyframes geekparklogo {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes geekparklogo {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes geekparklogo {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(360deg)
    }
}
.bgscroll-body {
  h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 200px;
  }
  p {
    font-size: 14px;
    line-height: 28px;
    margin: 40px;
  }
  .bg {
    width: 100%;
    height: 500px;
    background: #fff url(../images/bg.jpg) center center no-repeat;
    color: #fff;
    transition: all 0.3s ease;
  }
  
}
.card-body {
  margin: 200px;
  .card {
    width: 220px;
    height: 300px;
    float: left;
    margin-right: 100px;
    .cardbg {
      position: relative;
      z-index: 10;
      width: 220px;
      height: 300px;
      background: #fff url(../images/cardbg1.jpg) 0 0 no-repeat;
      background-size: 100% 100%;
      -webkit-transform: rotateY(0);
      -moz-transform: rotateY(0);
      -ms-transform: rotateY(0);
      -o-transform: rotateY(0);
      transform: rotateY(0);
      transition: all .3s ease-in-out .3s;
    }
    .cardtext {
      position: relative;
      z-index: 1;
      width: 220px;
      height: 300px;
      background: #fff url(../images/card1.png) 0 0 no-repeat;
      background-size: 100% 100%;
      top: -300px;
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
      transform: rotateY(90deg);
      transition: all .3s ease-in-out;
    }
  }
  .card:hover {
    .cardbg {
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
      transform: rotateY(90deg);
      transition: all .3s ease-in-out;
    }
    .cardtext {
      -webkit-transform: rotateY(0);
      -moz-transform: rotateY(0);
      -ms-transform: rotateY(0);
      -o-transform: rotateY(0);
      transform: rotateY(0);
      transition: all .3s ease-in-out .3s;
    }
  }
  .card2 { 
    .cardbg {
      background-image: url("../images/cardbg2.jpg"); 
    }
    .cardtext {
      background-image: url("../images/card2.png"); 
    }
  }
  .card3 { 
    .cardbg {
      background-image: url("../images/cardbg3.jpg");
    }
    .cardtext {
      background-image: url("../images/card3.png"); 
    }
  }
}

// 卡片发牌特效
.cards-body {
  padding-left: 300px;
  padding-top: 100px;
  .cardlist {
    position: relative;
    .carditem {
      position: absolute;
      cursor: pointer;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 222px;
      height: 311px;
      overflow: hidden;
      left: 0;
      top: 0;
      transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    }
    .bosscard {
      position: relative;
      z-index: 10;
    }
    .boss {
      width: 222px;
      height: 311px;
      background: url(../images/boss.png) 0 0 no-repeat;
      border-radius: 10px;
    }
    .card {
      width: 222px;
      height: 311px;
      border-radius: 10px;
      background: url(../images/front.png) 0 0 no-repeat;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
    }
    .front {
      position: relative;
      z-index: 2;
    }
    .back {
      background-image: url(../images/back.png);
      position: relative;
      top: -311px;
      transform: rotateY(180deg);
    }
    .carditem:hover .front {
      transform: rotateY(180deg);
    }
    .carditem:hover .back {
      transform: rotateY(360deg);
    }
  }
  $cardwidth: 222px;
  $cardHeight: 311px;
  $margin: 20px;
  .cardlist.on {
    .card1 { top: 0; left: ($cardwidth + $margin) * 1; transition-delay: 0.05s;}
    .card2 { top: 0; left: ($cardwidth + $margin) * 2; transition-delay: 0.1s;}
    .card3 { top: 0; left: ($cardwidth + $margin) * 3; transition-delay: 0.15s;}

    .card4 { top: $cardHeight + $margin; left: ($cardwidth + $margin) * 0; transition-delay: 0.2s;}
    .card5 { top: $cardHeight + $margin; left: ($cardwidth + $margin) * 1; transition-delay: 0.25s;}
    .card6 { top: $cardHeight + $margin; left: ($cardwidth + $margin) * 2; transition-delay: 0.3s;}
    .card7 { top: $cardHeight + $margin; left: ($cardwidth + $margin) * 3; transition-delay: 0.35s;}
  }
}

// 翻拍效果所用到的动画
#coolcard .anim-goback {
  top: 0;
  left: 0;
}

// html5 小鱼
.fish-canvas {
  background: #bdeaff url(../images/canvas-bg.png) center center no-repeat;
  background-size: 100% 100%;
  border: 1px solid #000;
}


























